{{ template "header.html" .}}

<h1>Ввод параметров для сокращения</h1>

<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <form class="form" action="/api/summary/create/{{.Id}}" method="POST">
      <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" name="name" placeholder="Название">
      </div>

      <div class="form-group">
        <label for="title">Тип</label>
        <select id="type" name="type" class="form-control">
            <option onclick="document.getElementById('countWord').style.display='block';
                            document.getElementById('countSentense').style.display='none';
                            document.getElementById('minmaxcountSentense').style.display='none';">Создать короткую анотацию</option>
            <option onclick="document.getElementById('countWord').style.display='none';
                            document.getElementById('countSentense').style.display='block';
                            document.getElementById('minmaxcountSentense').style.display='none';">Создать резюме</option>
            <option onclick="document.getElementById('countWord').style.display='none';
                            document.getElementById('countSentense').style.display='none';
                            document.getElementById('minmaxcountSentense').style.display='block';">Создать реферат</option>1
        </select> 
      </div>

      <div id="countWord" style="display: block;">
        <div class="form-group">
          <label for="title">Количество слов</label>
          <input type="text" class="form-control" id="title" name="wordCount" placeholder="Количество слов">
        </div>
      </div>

      <div id="countSentense" style="display: none;">
        <div class="form-group">
          <label for="title">Количество предложений</label>
          <input type="text" class="form-control" id="title" name="sentenseCount" placeholder="Минимальное количество предложений">
        </div>
      </div>

      <div id="minmaxcountSentense" style="display: none;">
        <div class="form-group">
          <label for="title">Минимальное количество предложений</label>
          <input type="text" class="form-control" id="title" name="minsentenseCount" placeholder="Минимальное количество предложений">
        </div>
        <div class="form-group">
          <label for="title">Максимальное количество предложений</label>
          <input type="text" class="form-control" id="title" name="maxsentenseCount" placeholder="Максимальное количество предложений">
        </div>
      </div>

      <div class="form-group">
        <label for="title">Примечание</label>
        <input type="text" class="form-control" id="note" name="note" placeholder="Примечание">
      </div>

      <button type="submit" class="btn btn-primary">Создать</button>
    </form>  
  </div>
</div>  

{{ template "footer.html" .}}